# Final Exercise - Putting it All Together

In this last exercise, you'll write a full ETL pipeline for the GDP data. That means you'll extract the World Bank data, transform the data, and load the data all in one go. In other words, you'll want one Python script that can do the entire process.

Why would you want to do this? Imagine working for a company that creates new data every day. As new data comes in, you'll want to write software that periodically and automatically extracts, transforms, and loads the data.

To give you a sense for what this is like, you'll extract the GDP data one line at a time. You'll then transform that line of data and load the results into a SQLite database. The code in this exercise is somewhat tricky.

Here is an explanation of how this Jupyter notebook is organized:
1. The first cell connects to a SQLite database called worldbank.db and creates a table to hold the gdp data. You do not need to do anything in this code cell other than executing the cell.
2. The second cell has a function called extract_line(). You don't need to do anything in this code cell either besides executing the cell. This function is a [Python generator](https://wiki.python.org/moin/Generators). You don't need to understand how this works in order to complete the exercise. Essentially, a generator is like a regular function except instead of a return statement, a generator has a yield statement. Generators allow you to use functions in a for loop. In essence, this function will allow you to read in a data file one line at a time, run a transformation on that row of data, and then move on to the next row in the file.
3. The third cell contains a function called transform_indicator_data(). This function receives a line from the csv file and transforms the data in preparation for a load step.
4. The fourth cell contains a function called load_indicator_data(), which loads the trasnformed data into the gdp table in the worldbank.db database.
5. The fifth cell runs the ETL pipeilne
6. The sixth cell runs a query against the database to make sure everything worked correctly.

You'll need to modify the third and fourth cells.

In [98]:
# run this cell to create a database and a table, called gdp, to hold the gdp data
# You do not need to change anything in this code cell

import sqlite3

# connect to the database
# the database file will be worldbank.db
# note that sqlite3 will create this database file if it does not exist already
conn = sqlite3.connect('worldbank.db')

# get a cursor
cur = conn.cursor()

# drop the test table in case it already exists
cur.execute("DROP TABLE IF EXISTS gdp")

# create the test table including project_id as a primary key
cur.execute("CREATE TABLE gdp (countryname TEXT, countrycode TEXT, year INTEGER, gdp REAL, PRIMARY KEY (countrycode, year));")

conn.commit()
conn.close()

In [99]:
# Generator for reading in one line at a time
# generators are useful for data sets that are too large to fit in RAM
# You do not need to change anything in this code cell
def extract_lines(file):
    while True:
        line = file.readline()
        if not line:
            break
        yield line

In [100]:
# TODO: fill out the code wherever you find a TODO in this cell
# This function has two inputs:
#   data, which is a row of data from the gdp csv file
#   colnames, which is a list of column names from the csv file
# The output should be a list of [countryname, countrycode, year, gdp] values
# In other words, the output would look like:
# [[Aruba, ABW, 1994, 1.330168e+09], [Aruba, ABW, 1995, 1.320670e+09], ...]
#

import pandas as pd
import numpy as np
import sqlite3

# transform the indicator data
def transform_indicator_data(data, colnames):
    
    # get rid of quote marks
    for i, datum in enumerate(data):
        data[i] = datum.replace('"','')
    
    # TODO: the data variable contains a list of data in the form [countryname, countrycode, 1960, 1961, 1962,...]
    # since this is the format of the data in the csv file. Extract the countryname from the list 
    # and put the result in the country variable
    country = data[0]
    
    # these are "countryname" values that are not actually countries
    non_countries = ['World',
     'High income',
     'OECD members',
     'Post-demographic dividend',
     'IDA & IBRD total',
     'Low & middle income',
     'Middle income',
     'IBRD only',
     'East Asia & Pacific',
     'Europe & Central Asia',
     'North America',
     'Upper middle income',
     'Late-demographic dividend',
     'European Union',
     'East Asia & Pacific (excluding high income)',
     'East Asia & Pacific (IDA & IBRD countries)',
     'Euro area',
     'Early-demographic dividend',
     'Lower middle income',
     'Latin America & Caribbean',
     'Latin America & the Caribbean (IDA & IBRD countries)',
     'Latin America & Caribbean (excluding high income)',
     'Europe & Central Asia (IDA & IBRD countries)',
     'Middle East & North Africa',
     'Europe & Central Asia (excluding high income)',
     'South Asia (IDA & IBRD)',
     'South Asia',
     'Arab World',
     'IDA total',
     'Sub-Saharan Africa',
     'Sub-Saharan Africa (IDA & IBRD countries)',
     'Sub-Saharan Africa (excluding high income)',
     'Middle East & North Africa (excluding high income)',
     'Middle East & North Africa (IDA & IBRD countries)',
     'Central Europe and the Baltics',
     'Pre-demographic dividend',
     'IDA only',
     'Least developed countries: UN classification',
     'IDA blend',
     'Fragile and conflict affected situations',
     'Heavily indebted poor countries (HIPC)',
     'Low income',
     'Small states',
     'Other small states',
     'Not classified',
     'Caribbean small states',
     'Pacific island small states']
    
    # filter out country name values that are in the above list
    if country not in non_countries:
        
        # In this section, you'll convert the single row of data into a data frame
        # The advantage of converting a single row of data into a data frame is that you can
        # re-use code from earlier in the lesson to clean the data
        
        # TODO: convert the data variable into a numpy array
        # Use the ndmin=2 option
        data_array = np.array(data, ndmin=2)
        
        # TODO: reshape the data_array so that it is one row and 63 columns
        data_array.reshape(1,63)
        
        # TODO: convert the data_array variable into a pandas dataframe
        # Note that you can specify the column names as well using the colnames variable
        # Also, replace all empty strings in the dataframe with nan (HINT: Use the replace module and np.nan)
        df = pd.DataFrame(data_array, columns=colnames)
        df = df.replace('', np.nan)
        
        # TODO: Drop the 'Indicator Name' and 'Indicator Code' columns
        df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True, axis=1)

        # TODO: Reshape the data sets so that they are in long format
        # The id_vars should be Country Name and Country Code
        # You can name the variable column year and the value column gdp
        # HINT: Use the pandas melt() method
        # HINT: This was already done in a previous exercise
        df_melt = pd.melt(df, id_vars=['Country Name', 'Country Code'], var_name='year', value_name='gdp')
        
        # TODO: Iterate through the rows in df_melt
        # For each row, extract the country, countrycode, year, and gdp values into a list like this:
        #     [country, countrycode, year, gdp]
        # If the gdp value is not null, append the row (in the form of a list) to the results variable
        # Finally, return the results list after iterating through the df_melt data
        # HINT: the iterrows() method would be useful
        # HINT: to check if gdp is equal to nan, you might want to convert gdp to a string and compare to the
        #       string 'nan
        results=[]
     
        for index, row in df_melt.iterrows():
            row_list = row.tolist()
            gdp = str(row_list[-1])
            
            if gdp != np.nan:
                results.append(row_list)
            else:
                pass
                
            
            

        return results

In [101]:
# TODO: fill out the code wherever you find a TODO in this cell
# This function loads data into the gdp table of the worldbank.db database
# The input is a list of data outputted from the transformation step that looks like this:
# [[Aruba, ABW, 1994, 1.330168e+09], [Aruba, ABW, 1995, 1.320670e+09], ...]

# The function does not return anything. Instead, the function iterates through the input and inserts each
# value into the gdp data set.

def load_indicator_data(results):
    
    # TODO: connect to the worldbank.db database using the sqlite3 library
    conn = sqlite3.connect('worldbank.db')
    
    # TODO: create a cursor object
    cur = conn.cursor()
    
    if results:
        
        # iterate through the results variable and insert each result into the gdp table
        for result in results:
            
            # TODO: extract the countryname, countrycode, year, and gdp from each iteration
            countryname, countrycode, year, gdp = result

            # TODO: prepare a query to insert a countryname, countrycode, year, gdp value
            sql_string = 'INSERT INTO gdp (countryname, countrycode, year, gdp) VALUES ("{}", "{}", {}, {});'.format(countryname, countrycode, year, gdp)
            # connect to database and execute query
            try:
                cur.execute(sql_string)
            # print out any errors (like if the primary key constraint is violated)
            except Exception as e:
                print('error occurred:', e, result)
    
    # commit changes and close the connection
    conn.commit()
    conn.close()
    
    return None

In [102]:
# Execute this code cell to run the ETL pipeline
# You do not need to change anything in this cell

# open the data file
with open('../data/gdp_data.csv') as f:
    # execute the generator to read in the file line by line
    for line in extract_lines(f):
        # split the comma separated values
        data = line.split(',')
        # check the length of the line because the first four lines of the csv file are not data
        if len(data) == 63:
            # check if the line represents column names
            if data[0] == '"Country Name"':
                colnames = []
                # get rid of quote marks in the results to make the data easier to work with
                for i, datum in enumerate(data):
                    colnames.append(datum.replace('"',''))
            else:
                # transform and load the line of indicator data
                results = transform_indicator_data(data, colnames)
                load_indicator_data(results)

error occurred: no such column: nan ['Aruba', 'ABW', '1960', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1961', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1962', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1963', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1964', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1965', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1966', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1967', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1968', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1969', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1970', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1971', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1972', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1973', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1974', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1975', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1976', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1977', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1978', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1979', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1980', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1981', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1982', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1983', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1984', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1985', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1986', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1987', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1988', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1989', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1990', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1991', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1992', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '1993', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '2012', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '2013', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '2014', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '2015', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '2016', nan]
error occurred: no such column: nan ['Aruba', 'ABW', '2017', nan]
error occurred: near ",": syntax error ['Aruba', 'ABW', '\n', '\n']
error occurred: no such column: nan ['Afghanistan', 'AFG', '1982', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1983', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1984', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1985', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1986', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1987', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1988', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1989', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1990', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1991', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1992', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1993', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1994', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1995', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1996', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1997', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1998', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '1999', nan]
error occurred: no such column: nan ['Afghanistan', 'AFG', '2000', nan]
error occurred: near ",": syntax error ['Afghanistan', 'AFG', '\n', '\n']
error occurred: no such column: nan ['Angola', 'AGO', '1960', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1961', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1962', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1963', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1964', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1965', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1966', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1967', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1968', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1969', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1970', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1971', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1972', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1973', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1974', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1975', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1976', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1977', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1978', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1979', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1991', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1992', nan]
error occurred: no such column: nan ['Angola', 'AGO', '1993', nan]
error occurred: near ",": syntax error ['Angola', 'AGO', '\n', '\n']
error occurred: no such column: nan ['Albania', 'ALB', '1960', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1961', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1962', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1963', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1964', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1965', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1966', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1967', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1968', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1969', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1970', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1971', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1972', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1973', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1974', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1975', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1976', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1977', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1978', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1979', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1980', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1981', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1982', nan]
error occurred: no such column: nan ['Albania', 'ALB', '1983', nan]
error occurred: near ",": syntax error ['Albania', 'ALB', '\n', '\n']
error occurred: no such column: nan ['Andorra', 'AND', '1960', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1961', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1962', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1963', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1964', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1965', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1966', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1967', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1968', nan]
error occurred: no such column: nan ['Andorra', 'AND', '1969', nan]
error occurred: near ",": syntax error ['Andorra', 'AND', '\n', '\n']
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1960', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1961', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1962', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1963', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1964', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1965', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1966', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1967', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1968', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1969', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1970', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1971', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1972', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1973', nan]
error occurred: no such column: nan ['United Arab Emirates', 'ARE', '1974', nan]
error occurred: near ",": syntax error ['United Arab Emirates', 'ARE', '\n', '\n']
error occurred: no such column: nan ['Argentina', 'ARG', '1960', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1961', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1962', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1963', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1964', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1965', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1966', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1967', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1968', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1969', nan]
error occurred: no such column: nan ['Argentina', 'ARG', '1970', nan]
error occurred: near ",": syntax error ['Argentina', 'ARG', '\n', '\n']

error occurred: no such column: nan ['Armenia', 'ARM', '1960', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1961', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1962', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1963', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1964', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1965', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1966', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1967', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1968', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1969', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1970', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1971', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1972', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1973', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1974', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1975', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1976', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1977', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1978', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1979', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1980', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1981', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1982', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1983', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1984', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1985', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1986', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1987', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1988', nan]
error occurred: no such column: nan ['Armenia', 'ARM', '1989', nan]
error occurred: near ",": syntax error ['Armenia', 'ARM', '\n', '\n']
error occurred: no such column: nan ['American Samoa', 'ASM', '1960', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1961', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1962', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1963', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1964', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1965', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1966', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1967', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1968', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1969', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1970', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1971', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1972', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1973', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1974', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1975', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1976', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1977', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1978', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1979', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1980', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1981', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1982', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1983', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1984', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1985', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1986', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1987', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1988', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1989', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1990', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1991', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1992', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1993', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1994', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1995', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1996', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1997', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1998', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '1999', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '2000', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '2001', nan]
error occurred: no such column: nan ['American Samoa', 'ASM', '2017', nan]
error occurred: near ",": syntax error ['American Samoa', 'ASM', '\n', '\n']
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1960', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1961', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1962', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1963', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1964', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1965', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1966', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1967', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1968', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1969', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1970', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1971', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1972', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1973', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1974', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1975', nan]
error occurred: no such column: nan ['Antigua and Barbuda', 'ATG', '1976', nan]
error occurred: near ",": syntax error ['Antigua and Barbuda', 'ATG', '\n', '\n']
error occurred: near ",": syntax error ['Australia', 'AUS', '\n', '\n']
error occurred: near ",": syntax error ['Austria', 'AUT', '\n', '\n']
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1960', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1961', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1962', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1963', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1964', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1965', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1966', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1967', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1968', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1969', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1970', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1971', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1972', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1973', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1974', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1975', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1976', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1977', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1978', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1979', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1980', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1981', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1982', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1983', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1984', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1985', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1986', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1987', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1988', nan]
error occurred: no such column: nan ['Azerbaijan', 'AZE', '1989', nan]
error occurred: near ",": syntax error ['Azerbaijan', 'AZE', '\n', '\n']
error occurred: near ",": syntax error ['Burundi', 'BDI', '\n', '\n']

error occurred: near ",": syntax error ['Belgium', 'BEL', '\n', '\n']
error occurred: near ",": syntax error ['Benin', 'BEN', '\n', '\n']
error occurred: near ",": syntax error ['Burkina Faso', 'BFA', '\n', '\n']
error occurred: near ",": syntax error ['Bangladesh', 'BGD', '\n', '\n']
error occurred: no such column: nan ['Bulgaria', 'BGR', '1960', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1961', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1962', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1963', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1964', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1965', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1966', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1967', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1968', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1969', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1970', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1971', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1972', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1973', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1974', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1975', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1976', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1977', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1978', nan]
error occurred: no such column: nan ['Bulgaria', 'BGR', '1979', nan]
error occurred: near ",": syntax error ['Bulgaria', 'BGR', '\n', '\n']
error occurred: no such column: nan ['Bahrain', 'BHR', '1960', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1961', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1962', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1963', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1964', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1965', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1966', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1967', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1968', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1969', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1970', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1971', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1972', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1973', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1974', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1975', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1976', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1977', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1978', nan]
error occurred: no such column: nan ['Bahrain', 'BHR', '1979', nan]
error occurred: near ",": syntax error ['Bahrain', 'BHR', '\n', '\n']
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1960', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1961', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1962', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1963', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1964', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1965', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1966', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1967', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1968', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1969', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1970', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1971', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1972', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1973', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1974', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1975', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1976', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1977', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1978', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1979', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1980', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1981', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1982', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1983', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1984', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1985', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1986', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1987', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1988', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1989', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1990', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1991', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1992', nan]
error occurred: no such column: nan ['Bosnia and Herzegovina', 'BIH', '1993', nan]
error occurred: near ",": syntax error ['Bosnia and Herzegovina', 'BIH', '\n', '\n']
error occurred: no such column: nan ['Belarus', 'BLR', '1960', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1961', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1962', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1963', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1964', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1965', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1966', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1967', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1968', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1969', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1970', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1971', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1972', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1973', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1974', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1975', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1976', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1977', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1978', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1979', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1980', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1981', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1982', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1983', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1984', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1985', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1986', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1987', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1988', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1989', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1991', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1992', nan]
error occurred: no such column: nan ['Belarus', 'BLR', '1993', nan]
error occurred: near ",": syntax error ['Belarus', 'BLR', '\n', '\n']

error occurred: near ",": syntax error ['Belize', 'BLZ', '\n', '\n']
error occurred: no such column: nan ['Bermuda', 'BMU', '2014', nan]
error occurred: no such column: nan ['Bermuda', 'BMU', '2015', nan]
error occurred: no such column: nan ['Bermuda', 'BMU', '2016', nan]
error occurred: no such column: nan ['Bermuda', 'BMU', '2017', nan]
error occurred: near ",": syntax error ['Bermuda', 'BMU', '\n', '\n']
error occurred: near ",": syntax error ['Bolivia', 'BOL', '\n', '\n']
error occurred: no such column: nan ['Brazil', 'BRA', '1960', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1961', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1962', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1963', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1964', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1965', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1966', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1967', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1968', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1969', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1970', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1971', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1972', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1973', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1974', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1975', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1976', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1977', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1978', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1979', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1980', nan]
error occurred: no such column: nan ['Brazil', 'BRA', '1981', nan]
error occurred: near ",": syntax error ['Brazil', 'BRA', '\n', '\n']
error occurred: no such column: nan ['Barbados', 'BRB', '1960', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1961', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1962', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1963', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1964', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1965', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1966', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1967', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1968', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1969', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1970', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1971', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1972', nan]
error occurred: no such column: nan ['Barbados', 'BRB', '1973', nan]
error occurred: near ",": syntax error ['Barbados', 'BRB', '\n', '\n']
error occurred: no such column: nan ['Brunei Darussalam', 'BRN', '1960', nan]
error occurred: no such column: nan ['Brunei Darussalam', 'BRN', '1961', nan]
error occurred: no such column: nan ['Brunei Darussalam', 'BRN', '1962', nan]
error occurred: no such column: nan ['Brunei Darussalam', 'BRN', '1963', nan]
error occurred: no such column: nan ['Brunei Darussalam', 'BRN', '1964', nan]
error occurred: near ",": syntax error ['Brunei Darussalam', 'BRN', '\n', '\n']
error occurred: no such column: nan ['Bhutan', 'BTN', '1960', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1961', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1962', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1963', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1964', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1965', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1966', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1967', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1968', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1969', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1970', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1971', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1972', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1973', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1974', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1975', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1976', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1977', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1978', nan]
error occurred: no such column: nan ['Bhutan', 'BTN', '1979', nan]
error occurred: near ",": syntax error ['Bhutan', 'BTN', '\n', '\n']
error occurred: near ",": syntax error ['Botswana', 'BWA', '\n', '\n']
error occurred: near ",": syntax error ['Central African Republic', 'CAF', '\n', '\n']
error occurred: near ",": syntax error ['Canada', 'CAN', '\n', '\n']
error occurred: no such column: nan ['Switzerland', 'CHE', '1970', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1971', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1972', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1973', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1974', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1975', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1976', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1977', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1978', nan]
error occurred: no such column: nan ['Switzerland', 'CHE', '1979', nan]
error occurred: near ",": syntax error ['Switzerland', 'CHE', '\n', '\n']
error occurred: no such column: nan ['Channel Islands', 'CHI', '1960', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1961', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1962', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1963', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1964', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1965', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1966', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1967', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1968', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1969', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1970', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1971', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1972', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1973', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1974', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1975', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1976', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1977', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1978', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1979', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1980', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1981', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1982', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1983', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1984', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1985', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1986', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1987', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1988', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1989', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1990', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1991', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1992', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1993', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1994', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1995', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1996', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '1997', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2008', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2009', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2010', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2011', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2012', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2013', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2014', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2015', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2016', nan]
error occurred: no such column: nan ['Channel Islands', 'CHI', '2017', nan]
error occurred: near ",": syntax error ['Channel Islands', 'CHI', '\n', '\n']
error occurred: near ",": syntax error ['Chile', 'CHL', '\n', '\n']
error occurred: near ",": syntax error ['China', 'CHN', '\n', '\n']
error occurred: near ",": syntax error ["Cote d'Ivoire", 'CIV', '\n', '\n']
error occurred: near ",": syntax error ['Cameroon', 'CMR', '\n', '\n']

error occurred: near ",": syntax error ['Colombia', 'COL', '\n', '\n']
error occurred: no such column: nan ['Comoros', 'COM', '1960', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1961', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1962', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1963', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1964', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1965', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1966', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1967', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1968', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1969', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1970', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1971', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1972', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1973', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1974', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1975', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1976', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1977', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1978', nan]
error occurred: no such column: nan ['Comoros', 'COM', '1979', nan]
error occurred: near ",": syntax error ['Comoros', 'COM', '\n', '\n']
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1960', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1961', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1962', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1963', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1964', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1965', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1966', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1967', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1968', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1969', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1970', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1971', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1972', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1973', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1974', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1975', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1976', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1977', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1978', nan]
error occurred: no such column: nan ['Cabo Verde', 'CPV', '1979', nan]
error occurred: near ",": syntax error ['Cabo Verde', 'CPV', '\n', '\n']
error occurred: near ",": syntax error ['Costa Rica', 'CRI', '\n', '\n']
error occurred: no such column: nan ['Cuba', 'CUB', '1960', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1961', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1962', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1963', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1964', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1965', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1966', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1967', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1968', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '1969', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '2016', nan]
error occurred: no such column: nan ['Cuba', 'CUB', '2017', nan]
error occurred: near ",": syntax error ['Cuba', 'CUB', '\n', '\n']
error occurred: no such column: nan ['Curacao', 'CUW', '1960', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1961', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1962', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1963', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1964', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1965', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1966', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1967', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1968', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1969', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1970', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1971', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1972', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1973', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1974', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1975', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1976', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1977', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1978', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1979', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1980', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1981', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1982', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1983', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1984', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1985', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1986', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1987', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1988', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1989', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1990', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1991', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1992', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1993', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1994', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1995', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1996', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1997', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1998', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '1999', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2000', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2001', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2002', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2003', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2004', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2005', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2006', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2007', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2008', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2009', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2010', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2011', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2012', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2013', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2014', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2015', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2016', nan]
error occurred: no such column: nan ['Curacao', 'CUW', '2017', nan]
error occurred: near ",": syntax error ['Curacao', 'CUW', '\n', '\n']
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1960', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1961', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1962', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1963', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1964', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1965', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1966', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1967', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1968', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1969', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1970', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1971', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1972', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1973', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1974', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1975', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1976', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1977', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1978', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1979', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1980', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1981', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1982', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1983', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1984', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1985', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1986', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1987', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1988', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1989', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1990', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1991', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1992', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1993', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1994', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1995', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1997', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1998', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '1999', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2000', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2001', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2002', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2003', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2004', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2005', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2007', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2008', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2009', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2010', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2011', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2012', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2013', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2014', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2015', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2016', nan]
error occurred: no such column: nan ['Cayman Islands', 'CYM', '2017', nan]
error occurred: near ",": syntax error ['Cayman Islands', 'CYM', '\n', '\n']

error occurred: no such column: nan ['Cyprus', 'CYP', '1960', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1961', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1962', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1963', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1964', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1965', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1966', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1967', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1968', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1969', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1970', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1971', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1972', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1973', nan]
error occurred: no such column: nan ['Cyprus', 'CYP', '1974', nan]
error occurred: near ",": syntax error ['Cyprus', 'CYP', '\n', '\n']
error occurred: no such column: nan ['Czech Republic', 'CZE', '1960', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1961', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1962', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1963', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1964', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1965', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1966', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1967', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1968', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1969', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1970', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1971', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1972', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1973', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1974', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1975', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1976', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1977', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1978', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1979', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1980', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1981', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1982', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1983', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1984', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1985', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1986', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1987', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1988', nan]
error occurred: no such column: nan ['Czech Republic', 'CZE', '1989', nan]
error occurred: near ",": syntax error ['Czech Republic', 'CZE', '\n', '\n']
error occurred: no such column: nan ['Germany', 'DEU', '1960', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1961', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1962', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1963', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1964', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1965', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1966', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1967', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1968', nan]
error occurred: no such column: nan ['Germany', 'DEU', '1969', nan]
error occurred: near ",": syntax error ['Germany', 'DEU', '\n', '\n']
error occurred: no such column: nan ['Djibouti', 'DJI', '1960', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1961', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1962', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1963', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1964', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1965', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1966', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1967', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1968', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1969', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1970', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1971', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1972', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1973', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1974', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1975', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1976', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1977', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1978', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1979', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1980', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1981', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1982', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1983', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1984', nan]
error occurred: no such column: nan ['Djibouti', 'DJI', '1986', nan]
error occurred: near ",": syntax error ['Djibouti', 'DJI', '\n', '\n']
error occurred: no such column: nan ['Dominica', 'DMA', '1960', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1961', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1962', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1963', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1964', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1965', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1966', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1967', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1968', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1969', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1970', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1971', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1972', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1973', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1974', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1975', nan]
error occurred: no such column: nan ['Dominica', 'DMA', '1976', nan]
error occurred: near ",": syntax error ['Dominica', 'DMA', '\n', '\n']
error occurred: near ",": syntax error ['Denmark', 'DNK', '\n', '\n']
error occurred: near ",": syntax error ['Dominican Republic', 'DOM', '\n', '\n']
error occurred: near ",": syntax error ['Algeria', 'DZA', '\n', '\n']
error occurred: near ",": syntax error ['Ecuador', 'ECU', '\n', '\n']
error occurred: no such column: nan ['Eritrea', 'ERI', '1960', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1961', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1962', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1963', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1964', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1965', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1966', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1967', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1968', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1969', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1970', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1971', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1972', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1973', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1974', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1975', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1976', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1977', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1978', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1979', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1980', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1981', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1982', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1983', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1984', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1985', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1986', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1987', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1988', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1989', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1990', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '1991', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '2012', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '2013', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '2014', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '2015', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '2016', nan]
error occurred: no such column: nan ['Eritrea', 'ERI', '2017', nan]
error occurred: near ",": syntax error ['Eritrea', 'ERI', '\n', '\n']
error occurred: near ",": syntax error ['Spain', 'ESP', '\n', '\n']
error occurred: no such column: nan ['Estonia', 'EST', '1960', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1961', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1962', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1963', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1964', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1965', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1966', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1967', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1968', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1969', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1970', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1971', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1972', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1973', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1974', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1975', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1976', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1977', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1978', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1979', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1980', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1981', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1982', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1983', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1984', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1985', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1986', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1987', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1988', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1989', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1990', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1991', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1992', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1993', nan]
error occurred: no such column: nan ['Estonia', 'EST', '1994', nan]
error occurred: near ",": syntax error ['Estonia', 'EST', '\n', '\n']
error occurred: no such column: nan ['Ethiopia', 'ETH', '1960', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1961', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1962', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1963', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1964', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1965', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1966', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1967', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1968', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1969', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1970', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1971', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1972', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1973', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1974', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1975', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1976', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1977', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1978', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1979', nan]
error occurred: no such column: nan ['Ethiopia', 'ETH', '1980', nan]
error occurred: near ",": syntax error ['Ethiopia', 'ETH', '\n', '\n']
error occurred: near ",": syntax error ['Finland', 'FIN', '\n', '\n']
error occurred: near ",": syntax error ['Fiji', 'FJI', '\n', '\n']

error occurred: near ",": syntax error ['France', 'FRA', '\n', '\n']
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1960', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1961', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1962', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1963', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1964', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1965', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1966', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1967', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1968', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1969', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1970', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1971', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1972', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1973', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1974', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1975', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1976', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1977', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1978', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1979', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1980', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1981', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1982', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1983', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1984', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1985', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1986', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1987', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1988', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1989', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1990', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1991', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1992', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1993', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1994', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1995', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1996', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '1997', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '2016', nan]
error occurred: no such column: nan ['Faroe Islands', 'FRO', '2017', nan]
error occurred: near ",": syntax error ['Faroe Islands', 'FRO', '\n', '\n']
error occurred: near ",": syntax error ['Gabon', 'GAB', '\n', '\n']
error occurred: near ",": syntax error ['United Kingdom', 'GBR', '\n', '\n']
error occurred: no such column: nan ['Georgia', 'GEO', '1960', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1961', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1962', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1963', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1964', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1965', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1966', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1967', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1968', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1969', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1970', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1971', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1972', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1973', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1974', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1975', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1976', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1977', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1978', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1979', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1980', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1981', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1982', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1983', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1984', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1985', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1986', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1987', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1988', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1989', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1991', nan]
error occurred: no such column: nan ['Georgia', 'GEO', '1992', nan]
error occurred: near ",": syntax error ['Georgia', 'GEO', '\n', '\n']
error occurred: near ",": syntax error ['Ghana', 'GHA', '\n', '\n']
error occurred: no such column: nan ['Gibraltar', 'GIB', '1960', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1961', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1962', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1963', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1964', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1965', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1966', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1967', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1968', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1969', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1970', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1971', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1972', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1973', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1974', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1975', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1976', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1977', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1978', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1979', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1980', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1981', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1982', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1983', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1984', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1985', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1986', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1987', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1988', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1989', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1990', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1991', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1992', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1993', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1994', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1995', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1996', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1997', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1998', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '1999', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2000', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2001', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2002', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2003', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2004', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2005', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2006', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2007', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2008', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2009', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2010', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2011', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2012', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2013', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2014', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2015', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2016', nan]
error occurred: no such column: nan ['Gibraltar', 'GIB', '2017', nan]
error occurred: near ",": syntax error ['Gibraltar', 'GIB', '\n', '\n']
error occurred: no such column: nan ['Guinea', 'GIN', '1960', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1961', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1962', nan]

error occurred: no such column: nan ['Guinea', 'GIN', '1963', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1964', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1965', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1966', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1967', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1968', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1969', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1970', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1971', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1972', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1973', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1974', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1975', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1976', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1977', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1978', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1979', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1980', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1981', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1982', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1983', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1984', nan]
error occurred: no such column: nan ['Guinea', 'GIN', '1985', nan]
error occurred: near ",": syntax error ['Guinea', 'GIN', '\n', '\n']
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1960', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1961', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1962', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1963', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1964', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1965', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1966', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1967', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1968', nan]
error occurred: no such column: nan ['Guinea-Bissau', 'GNB', '1969', nan]
error occurred: near ",": syntax error ['Guinea-Bissau', 'GNB', '\n', '\n']
error occurred: no such column: nan ['Equatorial Guinea', 'GNQ', '1960', nan]
error occurred: no such column: nan ['Equatorial Guinea', 'GNQ', '1961', nan]
error occurred: no such column: nan ['Equatorial Guinea', 'GNQ', '1978', nan]
error occurred: no such column: nan ['Equatorial Guinea', 'GNQ', '1979', nan]
error occurred: near ",": syntax error ['Equatorial Guinea', 'GNQ', '\n', '\n']
error occurred: near ",": syntax error ['Greece', 'GRC', '\n', '\n']
error occurred: no such column: nan ['Grenada', 'GRD', '1960', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1961', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1962', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1963', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1964', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1965', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1966', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1967', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1968', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1969', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1970', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1971', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1972', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1973', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1974', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1975', nan]
error occurred: no such column: nan ['Grenada', 'GRD', '1976', nan]
error occurred: near ",": syntax error ['Grenada', 'GRD', '\n', '\n']
error occurred: no such column: nan ['Greenland', 'GRL', '1960', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1961', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1962', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1963', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1964', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1965', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1966', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1967', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1968', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '1969', nan]
error occurred: no such column: nan ['Greenland', 'GRL', '2017', nan]
error occurred: near ",": syntax error ['Greenland', 'GRL', '\n', '\n']
error occurred: near ",": syntax error ['Guatemala', 'GTM', '\n', '\n']
error occurred: no such column: nan ['Guam', 'GUM', '1960', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1961', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1962', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1963', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1964', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1965', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1966', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1967', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1968', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1969', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1970', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1971', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1972', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1973', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1974', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1975', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1976', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1977', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1978', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1979', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1980', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1981', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1982', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1983', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1984', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1985', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1986', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1987', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1988', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1989', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1990', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1991', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1992', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1993', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1994', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1995', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1996', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1997', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1998', nan]
error occurred: no such column: nan ['Guam', 'GUM', '1999', nan]
error occurred: no such column: nan ['Guam', 'GUM', '2000', nan]
error occurred: no such column: nan ['Guam', 'GUM', '2001', nan]
error occurred: no such column: nan ['Guam', 'GUM', '2017', nan]
error occurred: near ",": syntax error ['Guam', 'GUM', '\n', '\n']
error occurred: near ",": syntax error ['Guyana', 'GUY', '\n', '\n']
error occurred: near ",": syntax error ['Honduras', 'HND', '\n', '\n']
error occurred: no such column: nan ['Croatia', 'HRV', '1960', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1961', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1962', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1963', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1964', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1965', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1966', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1967', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1968', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1969', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1970', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1971', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1972', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1973', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1974', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1975', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1976', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1977', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1978', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1979', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1980', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1981', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1982', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1983', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1984', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1985', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1986', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1987', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1988', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1989', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1990', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1991', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1992', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1993', nan]
error occurred: no such column: nan ['Croatia', 'HRV', '1994', nan]
error occurred: near ",": syntax error ['Croatia', 'HRV', '\n', '\n']
error occurred: no such column: nan ['Haiti', 'HTI', '1960', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1961', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1962', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1963', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1964', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1965', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1966', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1967', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1968', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1969', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1970', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1971', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1972', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1973', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1974', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1975', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1976', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1977', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1978', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1979', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1980', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1981', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1982', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1983', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1984', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1985', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1986', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1987', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1988', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1989', nan]
error occurred: no such column: nan ['Haiti', 'HTI', '1990', nan]
error occurred: near ",": syntax error ['Haiti', 'HTI', '\n', '\n']
error occurred: no such column: nan ['Hungary', 'HUN', '1960', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1961', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1962', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1963', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1964', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1965', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1966', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1967', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1968', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1969', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1970', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1971', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1972', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1973', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1974', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1975', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1976', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1977', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1978', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1979', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1980', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1981', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1982', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1983', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1984', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1985', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1986', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1987', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1988', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1989', nan]
error occurred: no such column: nan ['Hungary', 'HUN', '1990', nan]
error occurred: near ",": syntax error ['Hungary', 'HUN', '\n', '\n']
error occurred: no such column: nan ['Indonesia', 'IDN', '1960', nan]
error occurred: no such column: nan ['Indonesia', 'IDN', '1961', nan]
error occurred: no such column: nan ['Indonesia', 'IDN', '1962', nan]
error occurred: no such column: nan ['Indonesia', 'IDN', '1963', nan]
error occurred: no such column: nan ['Indonesia', 'IDN', '1964', nan]
error occurred: no such column: nan ['Indonesia', 'IDN', '1965', nan]
error occurred: no such column: nan ['Indonesia', 'IDN', '1966', nan]
error occurred: near ",": syntax error ['Indonesia', 'IDN', '\n', '\n']
error occurred: no such column: nan ['Isle of Man', 'IMN', '1960', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1961', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1962', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1963', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1964', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1965', nan]

error occurred: no such column: nan ['Isle of Man', 'IMN', '1966', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1967', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1968', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1969', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1970', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1971', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1972', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1973', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1974', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1975', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1976', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1977', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1978', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1979', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1980', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1981', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1982', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1983', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1984', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1985', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1986', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1987', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1988', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1989', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1990', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1991', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1992', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1993', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '1994', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '2016', nan]
error occurred: no such column: nan ['Isle of Man', 'IMN', '2017', nan]
error occurred: near ",": syntax error ['Isle of Man', 'IMN', '\n', '\n']
error occurred: near ",": syntax error ['India', 'IND', '\n', '\n']
error occurred: near ",": syntax error ['Ireland', 'IRL', '\n', '\n']
error occurred: no such column: nan ['Iraq', 'IRQ', '1965', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1966', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1967', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1991', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1992', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1993', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1994', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1995', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1996', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1997', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1998', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '1999', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '2000', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '2001', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '2002', nan]
error occurred: no such column: nan ['Iraq', 'IRQ', '2003', nan]
error occurred: near ",": syntax error ['Iraq', 'IRQ', '\n', '\n']
error occurred: near ",": syntax error ['Iceland', 'ISL', '\n', '\n']
error occurred: no such column: nan ['Israel', 'ISR', '1970', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1971', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1972', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1973', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1974', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1975', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1976', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1977', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1978', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1979', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1980', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1981', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1982', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1983', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1984', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1985', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1986', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1987', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1988', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1989', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1990', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1991', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1992', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1993', nan]
error occurred: no such column: nan ['Israel', 'ISR', '1994', nan]
error occurred: near ",": syntax error ['Israel', 'ISR', '\n', '\n']
error occurred: near ",": syntax error ['Italy', 'ITA', '\n', '\n']
error occurred: near ",": syntax error ['Jamaica', 'JAM', '\n', '\n']
error occurred: no such column: nan ['Jordan', 'JOR', '1960', nan]
error occurred: no such column: nan ['Jordan', 'JOR', '1961', nan]
error occurred: no such column: nan ['Jordan', 'JOR', '1962', nan]
error occurred: no such column: nan ['Jordan', 'JOR', '1963', nan]
error occurred: no such column: nan ['Jordan', 'JOR', '1964', nan]
error occurred: near ",": syntax error ['Jordan', 'JOR', '\n', '\n']
error occurred: near ",": syntax error ['Japan', 'JPN', '\n', '\n']
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1960', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1961', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1962', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1963', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1964', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1965', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1966', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1967', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1968', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1969', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1970', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1971', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1972', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1973', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1974', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1975', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1976', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1977', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1978', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1979', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1980', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1981', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1982', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1983', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1984', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1985', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1986', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1987', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1988', nan]
error occurred: no such column: nan ['Kazakhstan', 'KAZ', '1989', nan]
error occurred: near ",": syntax error ['Kazakhstan', 'KAZ', '\n', '\n']
error occurred: near ",": syntax error ['Kenya', 'KEN', '\n', '\n']
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1960', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1961', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1962', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1963', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1964', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1965', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1966', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1967', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1968', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1969', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1970', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1971', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1972', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1973', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1974', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1975', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1976', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1977', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1978', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1979', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1980', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1981', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1982', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1983', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1984', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1985', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1986', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1987', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1988', nan]
error occurred: no such column: nan ['Kyrgyz Republic', 'KGZ', '1989', nan]
error occurred: near ",": syntax error ['Kyrgyz Republic', 'KGZ', '\n', '\n']
error occurred: no such column: nan ['Cambodia', 'KHM', '1975', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1976', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1977', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1978', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1979', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1980', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1981', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1982', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1983', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1984', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1985', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1986', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1987', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1988', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1989', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1990', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1991', nan]
error occurred: no such column: nan ['Cambodia', 'KHM', '1992', nan]
error occurred: near ",": syntax error ['Cambodia', 'KHM', '\n', '\n']
error occurred: no such column: nan ['Kiribati', 'KIR', '1960', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1961', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1962', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1963', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1964', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1965', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1966', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1967', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1968', nan]
error occurred: no such column: nan ['Kiribati', 'KIR', '1969', nan]
error occurred: near ",": syntax error ['Kiribati', 'KIR', '\n', '\n']
error occurred: near ",": syntax error ['St. Kitts and Nevis', 'KNA', '\n', '\n']

error occurred: no such column: nan ['Kuwait', 'KWT', '1960', nan]
error occurred: no such column: nan ['Kuwait', 'KWT', '1961', nan]
error occurred: no such column: nan ['Kuwait', 'KWT', '1962', nan]
error occurred: no such column: nan ['Kuwait', 'KWT', '1963', nan]
error occurred: no such column: nan ['Kuwait', 'KWT', '1964', nan]
error occurred: near ",": syntax error ['Kuwait', 'KWT', '\n', '\n']
error occurred: no such column: nan ['Lao PDR', 'LAO', '1960', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1961', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1962', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1963', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1964', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1965', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1966', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1967', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1968', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1969', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1970', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1971', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1972', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1973', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1974', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1975', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1976', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1977', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1978', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1979', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1980', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1981', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1982', nan]
error occurred: no such column: nan ['Lao PDR', 'LAO', '1983', nan]
error occurred: near ",": syntax error ['Lao PDR', 'LAO', '\n', '\n']
error occurred: no such column: nan ['Lebanon', 'LBN', '1960', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1961', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1962', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1963', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1964', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1965', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1966', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1967', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1968', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1969', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1970', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1971', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1972', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1973', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1974', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1975', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1976', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1977', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1978', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1979', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1980', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1981', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1982', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1983', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1984', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1985', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1986', nan]
error occurred: no such column: nan ['Lebanon', 'LBN', '1987', nan]
error occurred: near ",": syntax error ['Lebanon', 'LBN', '\n', '\n']
error occurred: near ",": syntax error ['Liberia', 'LBR', '\n', '\n']
error occurred: no such column: nan ['Libya', 'LBY', '1960', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1961', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1962', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1963', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1964', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1965', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1966', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1967', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1968', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1969', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1970', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1971', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1972', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1973', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1974', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1975', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1976', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1977', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1978', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1979', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1980', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1981', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1982', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1983', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1984', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1985', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1986', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1987', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1988', nan]
error occurred: no such column: nan ['Libya', 'LBY', '1989', nan]
error occurred: near ",": syntax error ['Libya', 'LBY', '\n', '\n']
error occurred: no such column: nan ['St. Lucia', 'LCA', '1960', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1961', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1962', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1963', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1964', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1965', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1966', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1967', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1968', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1969', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1970', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1971', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1972', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1973', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1974', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1975', nan]
error occurred: no such column: nan ['St. Lucia', 'LCA', '1976', nan]
error occurred: near ",": syntax error ['St. Lucia', 'LCA', '\n', '\n']
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1960', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1961', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1962', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1963', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1964', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1965', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1966', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1967', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1968', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '1969', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '2016', nan]
error occurred: no such column: nan ['Liechtenstein', 'LIE', '2017', nan]
error occurred: near ",": syntax error ['Liechtenstein', 'LIE', '\n', '\n']

error occurred: near ",": syntax error ['Sri Lanka', 'LKA', '\n', '\n']
error occurred: near ",": syntax error ['Lesotho', 'LSO', '\n', '\n']
error occurred: no such column: nan ['Lithuania', 'LTU', '1960', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1961', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1962', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1963', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1964', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1965', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1966', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1967', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1968', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1969', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1970', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1971', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1972', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1973', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1974', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1975', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1976', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1977', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1978', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1979', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1980', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1981', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1982', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1983', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1984', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1985', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1986', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1987', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1988', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1989', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1990', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1991', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1992', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1993', nan]
error occurred: no such column: nan ['Lithuania', 'LTU', '1994', nan]
error occurred: near ",": syntax error ['Lithuania', 'LTU', '\n', '\n']
error occurred: near ",": syntax error ['Luxembourg', 'LUX', '\n', '\n']
error occurred: no such column: nan ['Latvia', 'LVA', '1960', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1961', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1962', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1963', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1964', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1965', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1966', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1967', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1968', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1969', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1970', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1971', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1972', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1973', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1974', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1975', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1976', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1977', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1978', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1979', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1980', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1981', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1982', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1983', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1984', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1985', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1986', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1987', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1988', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1989', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1990', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1991', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1992', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1993', nan]
error occurred: no such column: nan ['Latvia', 'LVA', '1994', nan]
error occurred: near ",": syntax error ['Latvia', 'LVA', '\n', '\n']
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1960', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1961', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1962', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1963', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1964', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1965', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1966', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1967', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1968', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1969', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1970', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1971', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1972', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1973', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1974', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1975', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1976', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1977', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1978', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1979', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1980', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1981', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1982', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1983', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1984', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1985', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1986', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1987', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1988', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1989', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1990', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1991', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1992', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1993', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1994', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1995', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1996', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1997', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1998', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '1999', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2000', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2001', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2002', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2003', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2004', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2005', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2006', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2007', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2008', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2009', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2010', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2011', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2012', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2013', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2014', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2015', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2016', nan]
error occurred: no such column: nan ['St. Martin (French part)', 'MAF', '2017', nan]
error occurred: near ",": syntax error ['St. Martin (French part)', 'MAF', '\n', '\n']
error occurred: near ",": syntax error ['Morocco', 'MAR', '\n', '\n']
error occurred: no such column: nan ['Monaco', 'MCO', '1960', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1961', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1962', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1963', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1964', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1965', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1966', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1967', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1968', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '1969', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '2012', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '2013', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '2014', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '2015', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '2016', nan]
error occurred: no such column: nan ['Monaco', 'MCO', '2017', nan]
error occurred: near ",": syntax error ['Monaco', 'MCO', '\n', '\n']

error occurred: no such column: nan ['Moldova', 'MDA', '1960', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1961', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1962', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1963', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1964', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1965', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1966', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1967', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1968', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1969', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1970', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1971', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1972', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1973', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1974', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1975', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1976', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1977', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1978', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1979', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1980', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1981', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1982', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1983', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1984', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1985', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1986', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1987', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1988', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1989', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1990', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1991', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1992', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1993', nan]
error occurred: no such column: nan ['Moldova', 'MDA', '1994', nan]
error occurred: near ",": syntax error ['Moldova', 'MDA', '\n', '\n']
error occurred: near ",": syntax error ['Madagascar', 'MDG', '\n', '\n']
error occurred: no such column: nan ['Maldives', 'MDV', '1960', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1961', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1962', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1963', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1964', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1965', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1966', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1967', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1968', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1969', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1970', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1971', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1972', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1973', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1974', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1975', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1976', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1977', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1978', nan]
error occurred: no such column: nan ['Maldives', 'MDV', '1979', nan]
error occurred: near ",": syntax error ['Maldives', 'MDV', '\n', '\n']
error occurred: near ",": syntax error ['Mexico', 'MEX', '\n', '\n']
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1960', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1961', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1962', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1963', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1964', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1965', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1966', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1967', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1968', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1969', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1970', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1971', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1972', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1973', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1974', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1975', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1976', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1977', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1978', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1979', nan]
error occurred: no such column: nan ['Marshall Islands', 'MHL', '1980', nan]
error occurred: near ",": syntax error ['Marshall Islands', 'MHL', '\n', '\n']
error occurred: no such column: nan ['Mali', 'MLI', '1960', nan]
error occurred: no such column: nan ['Mali', 'MLI', '1961', nan]
error occurred: no such column: nan ['Mali', 'MLI', '1962', nan]
error occurred: no such column: nan ['Mali', 'MLI', '1963', nan]
error occurred: no such column: nan ['Mali', 'MLI', '1964', nan]
error occurred: no such column: nan ['Mali', 'MLI', '1965', nan]
error occurred: no such column: nan ['Mali', 'MLI', '1966', nan]
error occurred: near ",": syntax error ['Mali', 'MLI', '\n', '\n']
error occurred: no such column: nan ['Malta', 'MLT', '1960', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1961', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1962', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1963', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1964', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1965', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1966', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1967', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1968', nan]
error occurred: no such column: nan ['Malta', 'MLT', '1969', nan]
error occurred: near ",": syntax error ['Malta', 'MLT', '\n', '\n']
error occurred: no such column: nan ['Myanmar', 'MMR', '1960', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1961', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1962', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1963', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1964', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1965', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1966', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1967', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1968', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1969', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1970', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1971', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1972', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1973', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1974', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1975', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1976', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1977', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1978', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1979', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1980', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1981', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1982', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1983', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1984', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1985', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1986', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1987', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1988', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1989', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1990', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1991', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1992', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1993', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1994', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1995', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1996', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1997', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1998', nan]
error occurred: no such column: nan ['Myanmar', 'MMR', '1999', nan]
error occurred: near ",": syntax error ['Myanmar', 'MMR', '\n', '\n']
error occurred: no such column: nan ['Montenegro', 'MNE', '1960', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1961', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1962', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1963', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1964', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1965', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1966', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1967', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1968', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1969', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1970', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1971', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1972', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1973', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1974', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1975', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1976', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1977', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1978', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1979', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1980', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1981', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1982', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1983', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1984', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1985', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1986', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1987', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1988', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1989', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1990', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1991', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1992', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1993', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1994', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1995', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1996', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1997', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1998', nan]
error occurred: no such column: nan ['Montenegro', 'MNE', '1999', nan]
error occurred: near ",": syntax error ['Montenegro', 'MNE', '\n', '\n']
error occurred: no such column: nan ['Mongolia', 'MNG', '1960', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1961', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1962', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1963', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1964', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1965', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1966', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1967', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1968', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1969', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1970', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1971', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1972', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1973', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1974', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1975', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1976', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1977', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1978', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1979', nan]
error occurred: no such column: nan ['Mongolia', 'MNG', '1980', nan]
error occurred: near ",": syntax error ['Mongolia', 'MNG', '\n', '\n']
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1960', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1961', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1962', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1963', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1964', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1965', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1966', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1967', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1968', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1969', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1970', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1971', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1972', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1973', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1974', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1975', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1976', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1977', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1978', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1979', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1980', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1981', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1982', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1983', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1984', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1985', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1986', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1987', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1988', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1989', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1990', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1991', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1992', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1993', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1994', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1995', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1996', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1997', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1998', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '1999', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '2000', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '2001', nan]
error occurred: no such column: nan ['Northern Mariana Islands', 'MNP', '2017', nan]
error occurred: near ",": syntax error ['Northern Mariana Islands', 'MNP', '\n', '\n']
error occurred: no such column: nan ['Mozambique', 'MOZ', '1960', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1961', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1962', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1963', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1964', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1965', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1966', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1967', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1968', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1969', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1970', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1971', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1972', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1973', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1974', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1975', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1976', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1977', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1978', nan]
error occurred: no such column: nan ['Mozambique', 'MOZ', '1979', nan]
error occurred: near ",": syntax error ['Mozambique', 'MOZ', '\n', '\n']
error occurred: near ",": syntax error ['Mauritania', 'MRT', '\n', '\n']
error occurred: no such column: nan ['Mauritius', 'MUS', '1960', nan]
error occurred: no such column: nan ['Mauritius', 'MUS', '1961', nan]
error occurred: no such column: nan ['Mauritius', 'MUS', '1962', nan]
error occurred: no such column: nan ['Mauritius', 'MUS', '1963', nan]
error occurred: no such column: nan ['Mauritius', 'MUS', '1964', nan]
error occurred: no such column: nan ['Mauritius', 'MUS', '1965', nan]

error occurred: near ",": syntax error ['Malawi', 'MWI', '\n', '\n']
error occurred: near ",": syntax error ['Malaysia', 'MYS', '\n', '\n']
error occurred: no such column: nan ['Namibia', 'NAM', '1960', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1961', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1962', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1963', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1964', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1965', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1966', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1967', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1968', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1969', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1970', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1971', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1972', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1973', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1974', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1975', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1976', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1977', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1978', nan]
error occurred: no such column: nan ['Namibia', 'NAM', '1979', nan]
error occurred: near ",": syntax error ['Namibia', 'NAM', '\n', '\n']
error occurred: no such column: nan ['New Caledonia', 'NCL', '1960', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '1961', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '1962', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '1963', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '1964', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2001', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2002', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2003', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2004', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2005', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2006', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2007', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2008', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2009', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2010', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2011', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2012', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2013', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2014', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2015', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2016', nan]
error occurred: no such column: nan ['New Caledonia', 'NCL', '2017', nan]
error occurred: near ",": syntax error ['New Caledonia', 'NCL', '\n', '\n']
error occurred: near ",": syntax error ['Niger', 'NER', '\n', '\n']
error occurred: near ",": syntax error ['Nigeria', 'NGA', '\n', '\n']
error occurred: no such column: nan ['Nicaragua', 'NIC', '1960', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1961', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1962', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1963', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1964', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1965', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1966', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1967', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1968', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1969', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1970', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1971', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1972', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1973', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1974', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1975', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1976', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1977', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1978', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1979', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1980', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1981', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1982', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1983', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1984', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1985', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1986', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1987', nan]
error occurred: no such column: nan ['Nicaragua', 'NIC', '1988', nan]
error occurred: near ",": syntax error ['Nicaragua', 'NIC', '\n', '\n']
error occurred: near ",": syntax error ['Netherlands', 'NLD', '\n', '\n']
error occurred: near ",": syntax error ['Norway', 'NOR', '\n', '\n']
error occurred: near ",": syntax error ['Nepal', 'NPL', '\n', '\n']
error occurred: no such column: nan ['Nauru', 'NRU', '1960', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1961', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1962', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1963', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1964', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1965', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1966', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1967', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1968', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1969', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1970', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1971', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1972', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1973', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1974', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1975', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1976', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1977', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1978', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1979', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1980', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1981', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1982', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1983', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1984', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1985', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1986', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1987', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1988', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1989', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1990', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1991', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1992', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1993', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1994', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1995', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1996', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1997', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1998', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '1999', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2000', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2001', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2002', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2003', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2004', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2005', nan]
error occurred: no such column: nan ['Nauru', 'NRU', '2006', nan]
error occurred: near ",": syntax error ['Nauru', 'NRU', '\n', '\n']
error occurred: near ",": syntax error ['New Zealand', 'NZL', '\n', '\n']
error occurred: no such column: nan ['Oman', 'OMN', '1960', nan]
error occurred: no such column: nan ['Oman', 'OMN', '1961', nan]
error occurred: no such column: nan ['Oman', 'OMN', '1962', nan]
error occurred: no such column: nan ['Oman', 'OMN', '1963', nan]
error occurred: no such column: nan ['Oman', 'OMN', '1964', nan]
error occurred: near ",": syntax error ['Oman', 'OMN', '\n', '\n']
error occurred: near ",": syntax error ['Pakistan', 'PAK', '\n', '\n']
error occurred: near ",": syntax error ['Panama', 'PAN', '\n', '\n']
error occurred: near ",": syntax error ['Peru', 'PER', '\n', '\n']

error occurred: near ",": syntax error ['Philippines', 'PHL', '\n', '\n']
error occurred: no such column: nan ['Palau', 'PLW', '1960', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1961', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1962', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1963', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1964', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1965', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1966', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1967', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1968', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1969', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1970', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1971', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1972', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1973', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1974', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1975', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1976', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1977', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1978', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1979', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1980', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1981', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1982', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1983', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1984', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1985', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1986', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1987', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1988', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1989', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1990', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1991', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1992', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1993', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1994', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1995', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1996', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1997', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1998', nan]
error occurred: no such column: nan ['Palau', 'PLW', '1999', nan]
error occurred: near ",": syntax error ['Palau', 'PLW', '\n', '\n']
error occurred: near ",": syntax error ['Papua New Guinea', 'PNG', '\n', '\n']
error occurred: no such column: nan ['Poland', 'POL', '1960', nan]
error occurred: no such column: nan ['Poland', 'POL', '1961', nan]
error occurred: no such column: nan ['Poland', 'POL', '1962', nan]
error occurred: no such column: nan ['Poland', 'POL', '1963', nan]
error occurred: no such column: nan ['Poland', 'POL', '1964', nan]
error occurred: no such column: nan ['Poland', 'POL', '1965', nan]
error occurred: no such column: nan ['Poland', 'POL', '1966', nan]
error occurred: no such column: nan ['Poland', 'POL', '1967', nan]
error occurred: no such column: nan ['Poland', 'POL', '1968', nan]
error occurred: no such column: nan ['Poland', 'POL', '1969', nan]
error occurred: no such column: nan ['Poland', 'POL', '1970', nan]
error occurred: no such column: nan ['Poland', 'POL', '1971', nan]
error occurred: no such column: nan ['Poland', 'POL', '1972', nan]
error occurred: no such column: nan ['Poland', 'POL', '1973', nan]
error occurred: no such column: nan ['Poland', 'POL', '1974', nan]
error occurred: no such column: nan ['Poland', 'POL', '1975', nan]
error occurred: no such column: nan ['Poland', 'POL', '1976', nan]
error occurred: no such column: nan ['Poland', 'POL', '1977', nan]
error occurred: no such column: nan ['Poland', 'POL', '1978', nan]
error occurred: no such column: nan ['Poland', 'POL', '1979', nan]
error occurred: no such column: nan ['Poland', 'POL', '1980', nan]
error occurred: no such column: nan ['Poland', 'POL', '1981', nan]
error occurred: no such column: nan ['Poland', 'POL', '1982', nan]
error occurred: no such column: nan ['Poland', 'POL', '1983', nan]
error occurred: no such column: nan ['Poland', 'POL', '1984', nan]
error occurred: no such column: nan ['Poland', 'POL', '1985', nan]
error occurred: no such column: nan ['Poland', 'POL', '1986', nan]
error occurred: no such column: nan ['Poland', 'POL', '1987', nan]
error occurred: no such column: nan ['Poland', 'POL', '1988', nan]
error occurred: no such column: nan ['Poland', 'POL', '1989', nan]
error occurred: near ",": syntax error ['Poland', 'POL', '\n', '\n']
error occurred: no such column: nan ['Puerto Rico', 'PRI', '2017', nan]
error occurred: near ",": syntax error ['Puerto Rico', 'PRI', '\n', '\n']
error occurred: near ",": syntax error ['Portugal', 'PRT', '\n', '\n']
error occurred: no such column: nan ['Paraguay', 'PRY', '1960', nan]
error occurred: no such column: nan ['Paraguay', 'PRY', '1961', nan]
error occurred: no such column: nan ['Paraguay', 'PRY', '1962', nan]
error occurred: no such column: nan ['Paraguay', 'PRY', '1963', nan]
error occurred: no such column: nan ['Paraguay', 'PRY', '1964', nan]
error occurred: near ",": syntax error ['Paraguay', 'PRY', '\n', '\n']
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1960', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1961', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1962', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1963', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1964', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1965', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1966', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1967', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1968', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1969', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1970', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1971', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1972', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1973', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1974', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1975', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1976', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1977', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1978', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1979', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1980', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1981', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1982', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1983', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1984', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1985', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1986', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1987', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1988', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1989', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1990', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1991', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1992', nan]
error occurred: no such column: nan ['West Bank and Gaza', 'PSE', '1993', nan]
error occurred: near ",": syntax error ['West Bank and Gaza', 'PSE', '\n', '\n']
error occurred: no such column: nan ['French Polynesia', 'PYF', '1960', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '1961', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '1962', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '1963', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '1964', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2001', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2002', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2003', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2004', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2005', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2006', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2007', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2008', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2009', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2010', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2011', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2012', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2013', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2014', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2015', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2016', nan]
error occurred: no such column: nan ['French Polynesia', 'PYF', '2017', nan]
error occurred: near ",": syntax error ['French Polynesia', 'PYF', '\n', '\n']
error occurred: no such column: nan ['Qatar', 'QAT', '1960', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1961', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1962', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1963', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1964', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1965', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1966', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1967', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1968', nan]
error occurred: no such column: nan ['Qatar', 'QAT', '1969', nan]
error occurred: near ",": syntax error ['Qatar', 'QAT', '\n', '\n']
error occurred: no such column: nan ['Romania', 'ROU', '1960', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1961', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1962', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1963', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1964', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1965', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1966', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1967', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1968', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1969', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1970', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1971', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1972', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1973', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1974', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1975', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1976', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1977', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1978', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1979', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1980', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1981', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1982', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1983', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1984', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1985', nan]
error occurred: no such column: nan ['Romania', 'ROU', '1986', nan]
error occurred: near ",": syntax error ['Romania', 'ROU', '\n', '\n']
error occurred: no such column: nan ['Russian Federation', 'RUS', '1960', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1961', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1962', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1963', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1964', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1965', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1966', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1967', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1968', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1969', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1970', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1971', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1972', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1973', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1974', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1975', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1976', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1977', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1978', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1979', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1980', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1981', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1982', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1983', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1984', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1985', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1986', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1987', nan]
error occurred: no such column: nan ['Russian Federation', 'RUS', '1988', nan]
error occurred: near ",": syntax error ['Russian Federation', 'RUS', '\n', '\n']
error occurred: near ",": syntax error ['Rwanda', 'RWA', '\n', '\n']
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1960', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1961', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1962', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1963', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1964', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1965', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1966', nan]
error occurred: no such column: nan ['Saudi Arabia', 'SAU', '1967', nan]
error occurred: near ",": syntax error ['Saudi Arabia', 'SAU', '\n', '\n']

error occurred: near ",": syntax error ['Sudan', 'SDN', '\n', '\n']
error occurred: near ",": syntax error ['Senegal', 'SEN', '\n', '\n']
error occurred: near ",": syntax error ['Singapore', 'SGP', '\n', '\n']
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1960', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1961', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1962', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1963', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1964', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1965', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1966', nan]
error occurred: no such column: nan ['Solomon Islands', 'SLB', '1970', nan]
error occurred: near ",": syntax error ['Solomon Islands', 'SLB', '\n', '\n']
error occurred: near ",": syntax error ['Sierra Leone', 'SLE', '\n', '\n']
error occurred: no such column: nan ['El Salvador', 'SLV', '1960', nan]
error occurred: no such column: nan ['El Salvador', 'SLV', '1961', nan]
error occurred: no such column: nan ['El Salvador', 'SLV', '1962', nan]
error occurred: no such column: nan ['El Salvador', 'SLV', '1963', nan]
error occurred: no such column: nan ['El Salvador', 'SLV', '1964', nan]
error occurred: near ",": syntax error ['El Salvador', 'SLV', '\n', '\n']
error occurred: no such column: nan ['San Marino', 'SMR', '1960', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1961', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1962', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1963', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1964', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1965', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1966', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1967', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1968', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1969', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1970', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1971', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1972', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1973', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1974', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1975', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1976', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1977', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1978', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1979', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1980', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1981', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1982', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1983', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1984', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1985', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1986', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1987', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1988', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1989', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1990', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1991', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1992', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1993', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1994', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1995', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1996', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1997', nan]
error occurred: no such column: nan ['San Marino', 'SMR', '1998', nan]
error occurred: near ",": syntax error ['San Marino', 'SMR', '\n', '\n']
error occurred: no such column: nan ['Somalia', 'SOM', '1960', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1961', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1962', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1963', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1964', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1965', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1966', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1967', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1968', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1969', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1970', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1971', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1972', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1973', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1974', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1975', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1976', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1977', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1978', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1979', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1980', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1981', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1982', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1983', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1984', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1985', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1986', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1987', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1988', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1989', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1990', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1991', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1992', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1993', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1994', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1995', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1996', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1997', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1998', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '1999', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2000', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2001', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2002', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2003', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2004', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2005', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2006', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2007', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2008', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2009', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2010', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2011', nan]
error occurred: no such column: nan ['Somalia', 'SOM', '2012', nan]
error occurred: near ",": syntax error ['Somalia', 'SOM', '\n', '\n']
error occurred: no such column: nan ['Serbia', 'SRB', '1960', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1961', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1962', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1963', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1964', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1965', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1966', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1967', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1968', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1969', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1970', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1971', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1972', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1973', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1974', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1975', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1976', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1977', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1978', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1979', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1980', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1981', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1982', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1983', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1984', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1985', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1986', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1987', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1988', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1989', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1990', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1991', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1992', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1993', nan]
error occurred: no such column: nan ['Serbia', 'SRB', '1994', nan]
error occurred: near ",": syntax error ['Serbia', 'SRB', '\n', '\n']
error occurred: no such column: nan ['South Sudan', 'SSD', '1960', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1961', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1962', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1963', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1964', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1965', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1966', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1967', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1968', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1969', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1970', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1971', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1972', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1973', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1974', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1975', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1976', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1977', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1978', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1979', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1980', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1981', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1982', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1983', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1984', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1985', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1986', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1987', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1988', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1989', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1990', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1991', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1992', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1993', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1994', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1995', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1996', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1997', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1998', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '1999', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2000', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2001', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2002', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2003', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2004', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2005', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2006', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2007', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2008', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2009', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2010', nan]
error occurred: no such column: nan ['South Sudan', 'SSD', '2017', nan]
error occurred: near ",": syntax error ['South Sudan', 'SSD', '\n', '\n']
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1960', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1961', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1962', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1963', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1964', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1965', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1966', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1967', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1968', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1969', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1970', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1971', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1972', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1973', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1974', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1975', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1976', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1977', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1978', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1979', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1980', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1981', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1982', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1983', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1984', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1985', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1986', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1987', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1988', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1989', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1990', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1991', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1992', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1993', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1994', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1995', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1996', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1997', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1998', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '1999', nan]
error occurred: no such column: nan ['Sao Tome and Principe', 'STP', '2000', nan]
error occurred: near ",": syntax error ['Sao Tome and Principe', 'STP', '\n', '\n']
error occurred: near ",": syntax error ['Suriname', 'SUR', '\n', '\n']
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1960', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1961', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1962', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1963', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1964', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1965', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1966', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1967', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1968', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1969', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1970', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1971', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1972', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1973', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1974', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1975', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1976', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1977', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1978', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1979', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1980', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1981', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1982', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1983', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1984', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1985', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1986', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1987', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1988', nan]
error occurred: no such column: nan ['Slovak Republic', 'SVK', '1989', nan]

error occurred: near ",": syntax error ['Swaziland', 'SWZ', '\n', '\n']
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1960', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1961', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1962', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1963', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1964', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1965', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1966', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1967', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1968', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1969', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1970', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1971', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1972', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1973', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1974', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1975', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1976', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1977', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1978', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1979', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1980', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1981', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1982', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1983', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1984', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1985', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1986', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1987', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1988', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1989', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1990', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1991', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1992', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1993', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1994', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1995', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1996', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1997', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1998', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '1999', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2000', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2001', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2002', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2003', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2004', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2005', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2006', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2007', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2008', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2009', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2010', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2011', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2012', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2013', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2014', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2015', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2016', nan]
error occurred: no such column: nan ['Sint Maarten (Dutch part)', 'SXM', '2017', nan]
error occurred: near ",": syntax error ['Sint Maarten (Dutch part)', 'SXM', '\n', '\n']
error occurred: near ",": syntax error ['Seychelles', 'SYC', '\n', '\n']
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2008', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2009', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2010', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2011', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2012', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2013', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2014', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2015', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2016', nan]
error occurred: no such column: nan ['Syrian Arab Republic', 'SYR', '2017', nan]
error occurred: near ",": syntax error ['Syrian Arab Republic', 'SYR', '\n', '\n']
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1960', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1961', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1962', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1963', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1964', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1965', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1966', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1967', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1968', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1969', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1970', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1971', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1972', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1973', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1974', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1975', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1976', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1977', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1978', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1979', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1980', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1981', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1982', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1983', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1984', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1985', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1986', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1987', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1988', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1989', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1990', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1991', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1992', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1993', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1994', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1995', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1996', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1997', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1998', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '1999', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2000', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2001', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2002', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2003', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2004', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2005', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2006', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2007', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2008', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2009', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2010', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2011', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2012', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2013', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2014', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2015', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2016', nan]
error occurred: no such column: nan ['Turks and Caicos Islands', 'TCA', '2017', nan]
error occurred: near ",": syntax error ['Turks and Caicos Islands', 'TCA', '\n', '\n']
error occurred: near ",": syntax error ['Chad', 'TCD', '\n', '\n']
error occurred: near ",": syntax error ['Togo', 'TGO', '\n', '\n']
error occurred: near ",": syntax error ['Thailand', 'THA', '\n', '\n']

error occurred: no such column: nan ['Tajikistan', 'TJK', '1960', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1961', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1962', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1963', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1964', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1965', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1966', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1967', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1968', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1969', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1970', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1971', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1972', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1973', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1974', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1975', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1976', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1977', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1978', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1979', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1980', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1981', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1982', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1983', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1984', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1985', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1986', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1987', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1988', nan]
error occurred: no such column: nan ['Tajikistan', 'TJK', '1989', nan]
error occurred: near ",": syntax error ['Tajikistan', 'TJK', '\n', '\n']
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1960', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1961', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1962', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1963', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1964', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1965', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1966', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1967', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1968', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1969', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1970', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1971', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1972', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1973', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1974', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1975', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1976', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1977', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1978', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1979', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1980', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1981', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1982', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1983', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1984', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1985', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1986', nan]
error occurred: no such column: nan ['Turkmenistan', 'TKM', '1991', nan]
error occurred: near ",": syntax error ['Turkmenistan', 'TKM', '\n', '\n']
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1960', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1961', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1962', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1963', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1964', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1965', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1966', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1967', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1968', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1969', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1970', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1971', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1972', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1973', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1974', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1975', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1976', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1977', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1978', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1979', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1980', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1981', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1982', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1983', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1984', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1985', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1986', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1987', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1988', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1989', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1990', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1991', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1992', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1993', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1994', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1995', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1996', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1997', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1998', nan]
error occurred: no such column: nan ['Timor-Leste', 'TLS', '1999', nan]
error occurred: near ",": syntax error ['Timor-Leste', 'TLS', '\n', '\n']
error occurred: no such column: nan ['Tonga', 'TON', '1960', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1961', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1962', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1963', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1964', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1965', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1966', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1967', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1968', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1969', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1970', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1971', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1972', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1973', nan]
error occurred: no such column: nan ['Tonga', 'TON', '1974', nan]
error occurred: near ",": syntax error ['Tonga', 'TON', '\n', '\n']
error occurred: near ",": syntax error ['Trinidad and Tobago', 'TTO', '\n', '\n']
error occurred: no such column: nan ['Tunisia', 'TUN', '1960', nan]
error occurred: no such column: nan ['Tunisia', 'TUN', '1961', nan]
error occurred: no such column: nan ['Tunisia', 'TUN', '1962', nan]
error occurred: no such column: nan ['Tunisia', 'TUN', '1963', nan]
error occurred: no such column: nan ['Tunisia', 'TUN', '1964', nan]
error occurred: near ",": syntax error ['Tunisia', 'TUN', '\n', '\n']
error occurred: near ",": syntax error ['Turkey', 'TUR', '\n', '\n']

error occurred: no such column: nan ['Tuvalu', 'TUV', '1960', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1961', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1962', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1963', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1964', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1965', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1966', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1967', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1968', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1969', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1970', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1971', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1972', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1973', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1974', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1975', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1976', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1977', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1978', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1979', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1980', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1981', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1982', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1983', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1984', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1985', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1986', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1987', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1988', nan]
error occurred: no such column: nan ['Tuvalu', 'TUV', '1989', nan]
error occurred: near ",": syntax error ['Tuvalu', 'TUV', '\n', '\n']
error occurred: no such column: nan ['Tanzania', 'TZA', '1960', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1961', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1962', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1963', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1964', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1965', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1966', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1967', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1968', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1969', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1970', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1971', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1972', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1973', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1974', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1975', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1976', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1977', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1978', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1979', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1980', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1981', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1982', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1983', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1984', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1985', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1986', nan]
error occurred: no such column: nan ['Tanzania', 'TZA', '1987', nan]
error occurred: near ",": syntax error ['Tanzania', 'TZA', '\n', '\n']
error occurred: near ",": syntax error ['Uganda', 'UGA', '\n', '\n']
error occurred: no such column: nan ['Ukraine', 'UKR', '1960', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1961', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1962', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1963', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1964', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1965', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1966', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1967', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1968', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1969', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1970', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1971', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1972', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1973', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1974', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1975', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1976', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1977', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1978', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1979', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1980', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1981', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1982', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1983', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1984', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1985', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1986', nan]
error occurred: no such column: nan ['Ukraine', 'UKR', '1991', nan]
error occurred: near ",": syntax error ['Ukraine', 'UKR', '\n', '\n']
error occurred: near ",": syntax error ['Uruguay', 'URY', '\n', '\n']
error occurred: near ",": syntax error ['United States', 'USA', '\n', '\n']
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1960', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1961', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1962', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1963', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1964', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1965', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1966', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1967', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1968', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1969', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1970', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1971', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1972', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1973', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1974', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1975', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1976', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1977', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1978', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1979', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1980', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1981', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1982', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1983', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1984', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1985', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1986', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1987', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1988', nan]
error occurred: no such column: nan ['Uzbekistan', 'UZB', '1989', nan]
error occurred: near ",": syntax error ['Uzbekistan', 'UZB', '\n', '\n']

error occurred: near ",": syntax error ['St. Vincent and the Grenadines', 'VCT', '\n', '\n']
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1960', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1961', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1962', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1963', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1964', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1965', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1966', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1967', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1968', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1969', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1970', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1971', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1972', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1973', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1974', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1975', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1976', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1977', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1978', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1979', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1980', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1981', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1982', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1983', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1984', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1985', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1986', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1987', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1988', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1989', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1990', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1991', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1992', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1993', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1994', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1995', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1996', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1997', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1998', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '1999', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2000', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2001', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2002', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2003', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2004', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2005', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2006', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2007', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2008', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2009', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2010', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2011', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2012', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2013', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2014', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2015', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2016', nan]
error occurred: no such column: nan ['British Virgin Islands', 'VGB', '2017', nan]
error occurred: near ",": syntax error ['British Virgin Islands', 'VGB', '\n', '\n']
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '1994', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '1995', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '1996', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '1997', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '1998', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '1999', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '2000', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '2001', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '2016', nan]
error occurred: no such column: nan ['Virgin Islands (U.S.)', 'VIR', '2017', nan]
error occurred: near ",": syntax error ['Virgin Islands (U.S.)', 'VIR', '\n', '\n']
error occurred: no such column: nan ['Vietnam', 'VNM', '1960', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1961', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1962', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1963', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1964', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1965', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1966', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1967', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1968', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1969', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1970', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1971', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1972', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1973', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1974', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1975', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1976', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1977', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1978', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1979', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1980', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1981', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1982', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1983', nan]
error occurred: no such column: nan ['Vietnam', 'VNM', '1984', nan]
error occurred: near ",": syntax error ['Vietnam', 'VNM', '\n', '\n']
error occurred: no such column: nan ['Vanuatu', 'VUT', '1960', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1961', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1962', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1963', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1964', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1965', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1966', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1967', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1968', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1969', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1970', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1971', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1972', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1973', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1974', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1975', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1976', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1977', nan]
error occurred: no such column: nan ['Vanuatu', 'VUT', '1978', nan]
error occurred: near ",": syntax error ['Vanuatu', 'VUT', '\n', '\n']
error occurred: no such column: nan ['Samoa', 'WSM', '1960', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1961', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1962', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1963', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1964', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1965', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1966', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1967', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1968', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1969', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1970', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1971', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1972', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1973', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1974', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1975', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1976', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1977', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1978', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1979', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1980', nan]
error occurred: no such column: nan ['Samoa', 'WSM', '1981', nan]
error occurred: near ",": syntax error ['Samoa', 'WSM', '\n', '\n']
error occurred: no such column: nan ['Kosovo', 'XKX', '1960', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1961', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1962', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1963', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1964', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1965', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1966', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1967', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1968', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1969', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1970', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1971', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1972', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1973', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1974', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1975', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1976', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1977', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1978', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1979', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1980', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1981', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1982', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1983', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1984', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1985', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1986', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1987', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1988', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1989', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1990', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1991', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1992', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1993', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1994', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1995', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1996', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1997', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1998', nan]
error occurred: no such column: nan ['Kosovo', 'XKX', '1999', nan]
error occurred: near ",": syntax error ['Kosovo', 'XKX', '\n', '\n']

error occurred: near ",": syntax error ['South Africa', 'ZAF', '\n', '\n']
error occurred: near ",": syntax error ['Zambia', 'ZMB', '\n', '\n']
error occurred: near ",": syntax error ['Zimbabwe', 'ZWE', '\n', '\n']

In [103]:
# Execute this code cell to output the values in the gdp table
# You do not need to change anything in this cell

# connect to the database
# the database file will be worldbank.db
# note that sqlite3 will create this database file if it does not exist already
conn = sqlite3.connect('worldbank.db')

# get a cursor
cur = conn.cursor()

# create the test table including project_id as a primary key
df = pd.read_sql("SELECT * FROM gdp", con=conn)

conn.commit()
conn.close()

df

      countryname countrycode  year           gdp
0           Aruba         ABW  1994  1.330168e+09
1           Aruba         ABW  1995  1.320670e+09
2           Aruba         ABW  1996  1.379888e+09
3           Aruba         ABW  1997  1.531844e+09
4           Aruba         ABW  1998  1.665363e+09
5           Aruba         ABW  1999  1.722799e+09
6           Aruba         ABW  2000  1.873453e+09
7           Aruba         ABW  2001  1.920263e+09
8           Aruba         ABW  2002  1.941095e+09
9           Aruba         ABW  2003  2.021302e+09
10          Aruba         ABW  2004  2.228279e+09
11          Aruba         ABW  2005  2.331006e+09
12          Aruba         ABW  2006  2.421475e+09
13          Aruba         ABW  2007  2.623726e+09
14          Aruba         ABW  2008  2.791961e+09
15          Aruba         ABW  2009  2.498933e+09
16          Aruba         ABW  2010  2.467704e+09
17          Aruba         ABW  2011  2.584464e+09
18    Afghanistan         AFG  1960  5.377778e+08
19    Afghanistan         AFG  1961  5.488889e+08
20    Afghanistan         AFG  1962  5.466667e+08
21    Afghanistan         AFG  1963  7.511112e+08
22    Afghanistan         AFG  1964  8.000000e+08
23    Afghanistan         AFG  1965  1.006667e+09
24    Afghanistan         AFG  1966  1.400000e+09
25    Afghanistan         AFG  1967  1.673333e+09
26    Afghanistan         AFG  1968  1.373333e+09
27    Afghanistan         AFG  1969  1.408889e+09
28    Afghanistan         AFG  1970  1.748887e+09
29    Afghanistan         AFG  1971  1.831109e+09
...           ...         ...   ...           ...
8684     Zimbabwe         ZWE  1988  7.814784e+09
8685     Zimbabwe         ZWE  1989  8.286323e+09
8686     Zimbabwe         ZWE  1990  8.783817e+09
8687     Zimbabwe         ZWE  1991  8.641482e+09
8688     Zimbabwe         ZWE  1992  6.751472e+09
8689     Zimbabwe         ZWE  1993  6.563813e+09
8690     Zimbabwe         ZWE  1994  6.890675e+09
8691     Zimbabwe         ZWE  1995  7.111271e+09
8692     Zimbabwe         ZWE  1996  8.553147e+09
8693     Zimbabwe         ZWE  1997  8.529572e+09
8694     Zimbabwe         ZWE  1998  6.401968e+09
8695     Zimbabwe         ZWE  1999  6.858013e+09
8696     Zimbabwe         ZWE  2000  6.689958e+09
8697     Zimbabwe         ZWE  2001  6.777385e+09
8698     Zimbabwe         ZWE  2002  6.342116e+09
8699     Zimbabwe         ZWE  2003  5.727592e+09
8700     Zimbabwe         ZWE  2004  5.805598e+09
8701     Zimbabwe         ZWE  2005  5.755215e+09
8702     Zimbabwe         ZWE  2006  5.443896e+09
8703     Zimbabwe         ZWE  2007  5.291950e+09
8704     Zimbabwe         ZWE  2008  4.415703e+09
8705     Zimbabwe         ZWE  2009  8.621574e+09
8706     Zimbabwe         ZWE  2010  1.014186e+10
8707     Zimbabwe         ZWE  2011  1.209845e+10
8708     Zimbabwe         ZWE  2012  1.424249e+10
8709     Zimbabwe         ZWE  2013  1.545177e+10
8710     Zimbabwe         ZWE  2014  1.589105e+10
8711     Zimbabwe         ZWE  2015  1.630467e+10
8712     Zimbabwe         ZWE  2016  1.661996e+10
8713     Zimbabwe         ZWE  2017  1.784582e+10

[8714 rows x 4 columns]

# Conclusion

ETL Pipelines involve extracting data from one source, which in this case was a csv file, then transforming the data into a more usable form, and finally loading the data somewhere else.

The purpose of ETL pipelines is to make data more usable and accessible.