# Combining Data

Practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [20]:
# TODO: import the pandas library
import pandas as pd
# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv(r'../5_combinedata_exercise/rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv(r'../5_combinedata_exercise/electricity_access_percent.csv', skiprows=4)

# TODO: remove the 'Unnamed:62' column from each data set
df_rural.drop('Unnamed: 62',axis=1,inplace=True)
df_electricity.drop('Unnamed: 62',axis=1, inplace=True)
# TODO: combine the two data sets together using the concat method
# In other words, all of the rows of df_rural will come first
# followed by all the rows in df_electricity. This is possible to do
# because they both have the same column names.
pd.concat([df_rural, df_electricity], ignore_index=True)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224000,49.23900,49.25400,49.27000,49.285000,49.30000,...,56.217000,56.579000,56.941000,57.302000,57.636000,57.942000,58.221000,58.472000,58.696000,58.893000
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779000,91.49200,91.19500,90.89000,90.574000,90.25000,...,76.054000,75.687000,75.311000,74.926000,74.532000,74.129000,73.718000,73.297000,72.868000,72.430000
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565000,89.20200,88.79600,88.37600,87.942000,87.49600,...,61.491000,60.701000,59.903000,59.100000,58.301000,57.510000,56.726000,55.950000,55.181000,54.422000
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295000,69.05700,68.98500,68.91400,68.842000,68.77000,...,50.009000,48.924000,47.837000,46.753000,45.670000,44.617000,43.591000,42.593000,41.624000,40.684000
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550000,39.01700,36.53800,34.12800,31.795000,29.55500,...,11.133000,11.648000,12.183000,12.740000,13.292000,13.835000,14.367000,14.885000,15.388000,15.873000
5,Arab World,ARB,Rural population (% of total population),SP.RUR.TOTL.ZS,68.708026,67.96558,67.21982,66.45096,65.652964,64.81343,...,44.518882,44.156769,43.804530,43.463488,43.128649,42.803731,42.491260,42.191790,41.906071,41.631967
6,United Arab Emirates,ARE,Rural population (% of total population),SP.RUR.TOTL.ZS,26.500000,25.61700,24.75200,23.90700,23.081000,22.27700,...,16.623000,16.277000,15.945000,15.625000,15.316000,15.019000,14.734000,14.459000,14.196000,13.942000
7,Argentina,ARG,Rural population (% of total population),SP.RUR.TOTL.ZS,26.389000,25.78300,25.23300,24.69100,24.156000,23.63100,...,9.378000,9.205000,9.034000,8.867000,8.705000,8.548000,8.396000,8.249000,8.107000,7.970000
8,Armenia,ARM,Rural population (% of total population),SP.RUR.TOTL.ZS,48.725000,47.85300,46.98100,46.11100,45.242000,44.37800,...,36.003000,36.211000,36.420000,36.629000,36.839000,37.025000,37.188000,37.327000,37.442000,37.533000
9,American Samoa,ASM,Rural population (% of total population),SP.RUR.TOTL.ZS,33.789000,33.35900,32.93200,32.50700,32.084000,31.66600,...,12.201000,12.303000,12.406000,12.500000,12.587000,12.666000,12.736000,12.798000,12.852000,12.897000
10,Antigua and Barbuda,ATG,Rural population (% of total population),SP.RUR.TOTL.ZS,60.344000,60.96000,61.57300,62.18300,62.789000,63.39000,...,72.594000,73.181000,73.761000,74.333000,74.865000,75.357000,75.810000,76.227000,76.607000,76.953000
11,Australia,AUS,Rural population (% of total population),SP.RUR.TOTL.ZS,18.471000,18.05900,17.66300,17.27300,16.890000,16.51500,...,11.555000,11.410000,11.267000,11.125000,10.985000,10.847000,10.711000,10.577000,10.446000,10.317000
12,Austria,AUT,Rural population (% of total population),SP.RUR.TOTL.ZS,35.280000,35.18600,35.13700,35.08700,35.038000,34.98900,...,34.159000,34.153000,34.148000,34.142000,34.136000,34.116000,34.081000,34.032000,33.968000,33.890000
13,Azerbaijan,AZE,Rural population (% of total population),SP.RUR.TOTL.ZS,47.337000,47.63600,47.93600,48.23600,48.536000,48.83600,...,47.010000,46.810000,46.599000,46.377000,46.144000,45.900000,45.645000,45.380000,45.105000,44.819000
14,Burundi,BDI,Rural population (% of total population),SP.RUR.TOTL.ZS,97.923000,97.88500,97.84600,97.80700,97.767000,97.70600,...,89.882000,89.624000,89.359000,89.088000,88.811000,88.528000,88.239000,87.943000,87.641000,87.333000
15,Belgium,BEL,Rural population (% of total population),SP.RUR.TOTL.ZS,7.540000,7.44600,7.32100,7.16500,7.012000,6.86300,...,2.454000,2.406000,2.359000,2.313000,2.268000,2.224000,2.182000,2.142000,2.103000,2.066000
16,Benin,BEN,Rural population (% of total population),SP.RUR.TOTL.ZS,90.725000,90.14400,89.53000,88.88200,88.199000,87.48100,...,58.922000,58.539000,58.146000,57.744000,57.333000,56.914000,56.486000,56.050000,55.605000,55.153000
17,Burkina Faso,BFA,Rural population (% of total population),SP.RUR.TOTL.ZS,95.300000,95.20400,95.10700,95.00700,94.905000,94.80200,...,76.007000,75.172000,74.335000,73.495000,72.654000,71.814000,70.976000,70.141000,69.312000,68.489000
18,Bangladesh,BGD,Rural population (% of total population),SP.RUR.TOTL.ZS,94.865000,94.72200,94.50200,94.27300,94.036000,93.78900,...,71.032000,70.291000,69.538000,68.775000,68.010000,67.247000,66.484000,65.723000,64.965000,64.210000
19,Bulgaria,BGR,Rural population (% of total population),SP.RUR.TOTL.ZS,62.900000,61.21800,59.50600,57.77000,56.013000,54.24500,...,28.378000,28.037000,27.698000,27.362000,27.029000,26.700000,26.374000,26.052000,25.734000,25.419000
20,Bahrain,BHR,Rural population (% of total population),SP.RUR.TOTL.ZS,17.680000,17.66300,17.64500,17.62800,17.611000,17.50000,...,11.532000,11.500000,11.465000,11.425000,11.381000,11.333000,11.281000,11.225000,11.165000,11.101000
21,"Bahamas, The",BHS,Rural population (% of total population),SP.RUR.TOTL.ZS,40.288000,39.54600,38.80700,38.07400,37.358000,36.65700,...,17.558000,17.505000,17.451000,17.394000,17.333000,17.268000,17.199000,17.126000,17.049000,16.969000
22,Bosnia and Herzegovina,BIH,Rural population (% of total population),SP.RUR.TOTL.ZS,80.960000,80.31400,79.56300,78.79100,77.996000,77.18300,...,60.839000,60.817000,60.774000,60.709000,60.622000,60.514000,60.384000,60.233000,60.060000,59.865000
23,Belarus,BLR,Rural population (% of total population),SP.RUR.TOTL.ZS,67.599000,66.47800,65.33700,64.17800,63.000000,61.87300,...,26.274000,25.828000,25.385000,24.954000,24.533000,24.123000,23.723000,23.333000,22.954000,22.584000
24,Belize,BLZ,Rural population (% of total population),SP.RUR.TOTL.ZS,45.972000,46.28000,46.59000,46.89900,47.210000,47.51900,...,54.499000,54.768000,55.037000,55.282000,55.504000,55.702000,55.876000,56.027000,56.155000,56.258000
25,Bermuda,BMU,Rural population (% of total population),SP.RUR.TOTL.ZS,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,Bolivia,BOL,Rural population (% of total population),SP.RUR.TOTL.ZS,63.238000,62.94100,62.64300,62.34400,62.043000,61.74300,...,34.450000,34.009000,33.574000,33.145000,32.721000,32.304000,31.893000,31.488000,31.089000,30.697000
27,Brazil,BRA,Rural population (% of total population),SP.RUR.TOTL.ZS,53.861000,52.87800,51.90100,50.92200,49.941000,48.96300,...,16.251000,15.956000,15.665000,15.377000,15.099000,14.829000,14.567000,14.313000,14.067000,13.828000
28,Barbados,BRB,Rural population (% of total population),SP.RUR.TOTL.ZS,63.223000,63.15100,63.07800,63.00500,62.932000,62.85900,...,67.590000,67.765000,67.940000,68.095000,68.231000,68.348000,68.446000,68.525000,68.585000,68.626000
29,Brunei Darussalam,BRN,Rural population (% of total population),SP.RUR.TOTL.ZS,56.599000,54.77200,52.93000,51.08000,49.224000,47.37500,...,25.254000,24.866000,24.490000,24.128000,23.777000,23.439000,23.113000,22.798000,22.495000,22.203000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.186103,95.441090,95.801052,96.161153,96.522279,96.922377,96.936467,97.183215,97.742979,NaN
499,Timor-Leste,TLS,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,41.100101,43.844738,38.000000,49.385078,52.174774,54.973484,57.778198,67.281534,63.394138,NaN
500,Middle East & North Africa (IDA & IBRD countries),TMN,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,94.760384,95.008710,95.297786,95.910895,96.376501,97.506184,96.325711,97.493216,97.671447,NaN
501,Tonga,TON,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,90.780235,91.511932,92.261650,92.175456,92.800000,94.588905,95.380676,96.175453,97.020000,NaN
502,South Asia (IDA & IBRD),TSA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,70.641563,74.025057,75.117519,69.326529,79.352935,79.318324,81.448690,86.513987,85.569150,NaN
503,Sub-Saharan Africa (IDA & IBRD countries),TSS,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.973327,32.490060,32.633561,34.880128,35.770348,36.542705,37.760013,38.459815,42.813754,NaN
504,Trinidad and Tobago,TTO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.827667,99.000000,99.298363,99.736145,99.936935,99.992935,100.000000,100.000000,100.000000,NaN
505,Tunisia,TUN,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.400000,99.500000,99.500000,99.500000,99.500000,99.700000,99.800000,100.000000,100.000000,NaN
506,Turkey,TUR,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.806900,99.310745,100.000000,99.910782,99.985657,99.999252,100.000000,100.000000,100.000000,NaN
507,Tuvalu,TUV,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.450043,96.779938,97.127861,97.490799,97.671777,98.249725,98.639702,99.032677,99.426155,NaN
508,Tanzania,TZA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.500000,11.200000,14.800000,14.200000,15.300000,16.400000,18.910179,18.500000,32.800000,NaN
509,Uganda,UGA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.383857,10.000000,14.769371,14.600000,16.214964,13.900000,20.400000,18.500000,26.700000,NaN
510,Ukraine,UKR,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.782707,99.872482,99.945076,99.985046,99.867491,100.000000,100.000000,100.000000,100.000000,NaN
511,Upper middle income,UMC,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.951365,98.322811,98.775502,98.866005,99.059438,99.214211,99.235891,99.268934,99.379714,NaN
512,Uruguay,URY,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.784355,98.830696,98.989487,99.170000,99.349075,99.611808,99.657085,99.709480,100.000000,NaN
513,United States,USA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
514,Uzbekistan,UZB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.902954,99.955498,99.986694,99.997910,99.999908,100.000000,100.000000,100.000000,100.000000,NaN
515,St. Vincent and the Grenadines,VCT,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,90.470222,91.837242,93.222282,94.622345,96.034424,97.455513,98.598648,99.455063,100.000000,NaN
516,"Venezuela, RB",VEN,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.630798,98.710304,98.807846,98.840000,99.044968,99.178551,99.318146,99.460739,99.603836,NaN
517,British Virgin Islands,VGB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,Virgin Islands (U.S.),VIR,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
519,Vietnam,VNM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.208260,96.100000,97.591133,99.000000,100.000000,100.000000,99.200000,100.000000,100.000000,NaN
520,Vanuatu,VUT,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.873974,33.291115,36.898365,38.434589,39.982830,31.700000,43.103348,44.669613,57.820000,NaN
521,World,WLD,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.278317,83.211382,83.539093,82.504609,85.041356,85.163456,85.690892,87.028468,87.351269,NaN
522,Samoa,WSM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,94.694328,97.900000,96.606010,96.668575,98.504707,99.255646,97.900000,99.938278,100.000000,NaN
523,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN
524,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN
525,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN
526,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN
527,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN

In [15]:
df_electricity.columns, df_rural.columns

(Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
        '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
        '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
        '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
        '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
        '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
        '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
        '2014', '2015', '2016', '2017'],
       dtype='object'),
 Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
        '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
        '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
        '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
        '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
        '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
        '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
        '2014', '2015', '2016', '2017'],
       dtype='object'))

# Exercise 2 (Challenge)

This exercise is more challenging.

Combine the two datas in the csv file together so that the output looks like the following:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B'],
...         var_name='myVarna', value_name='Rural value')

In [36]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value
years = list(df_rural.columns[4:])
years_ele = list(df_electricity.columns[4:])

df_1 = pd.melt(df_rural, id_vars=['Country Name', 'Country Code'], value_vars=years,
        var_name='Year', value_name='Rural value')

df_2 = pd.melt(df_electricity, id_vars=['Country Name', 'Country Code'], value_vars=years_ele,
        var_name='Year', value_name='Electricity value')


# TODO: drop any columns from the data frames that aren't needed

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year

# TODO: sort the results by country and then by year

df_combined = pd.merge(df_1, df_2, on=['Country Name', 'Country Code', 'Year'], how='outer')

df_combined

,Country Name,Country Code,Year,Rural value,Electricity value
0,Aruba,ABW,1960,49.224000,NaN
1,Afghanistan,AFG,1960,91.779000,NaN
2,Angola,AGO,1960,89.565000,NaN
3,Albania,ALB,1960,69.295000,NaN
4,Andorra,AND,1960,41.550000,NaN
5,Arab World,ARB,1960,68.708026,NaN
6,United Arab Emirates,ARE,1960,26.500000,NaN
7,Argentina,ARG,1960,26.389000,NaN
8,Armenia,ARM,1960,48.725000,NaN
9,American Samoa,ASM,1960,33.789000,NaN
10,Antigua and Barbuda,ATG,1960,60.344000,NaN
11,Australia,AUS,1960,18.471000,NaN
12,Austria,AUT,1960,35.280000,NaN
13,Azerbaijan,AZE,1960,47.337000,NaN
14,Burundi,BDI,1960,97.923000,NaN
15,Belgium,BEL,1960,7.540000,NaN
16,Benin,BEN,1960,90.725000,NaN
17,Burkina Faso,BFA,1960,95.300000,NaN
18,Bangladesh,BGD,1960,94.865000,NaN
19,Bulgaria,BGR,1960,62.900000,NaN
20,Bahrain,BHR,1960,17.680000,NaN
21,"Bahamas, The",BHS,1960,40.288000,NaN
22,Bosnia and Herzegovina,BIH,1960,80.960000,NaN
23,Belarus,BLR,1960,67.599000,NaN
24,Belize,BLZ,1960,45.972000,NaN
25,Bermuda,BMU,1960,0.000000,NaN
26,Bolivia,BOL,1960,63.238000,NaN
27,Brazil,BRA,1960,53.861000,NaN
28,Barbados,BRB,1960,63.223000,NaN
29,Brunei Darussalam,BRN,1960,56.599000,NaN
...,...,...,...,...,...
15282,Latin America & the Caribbean (IDA & IBRD coun...,TLA,2017,19.660023,NaN
15283,Timor-Leste,TLS,2017,65.978000,NaN
15284,Middle East & North Africa (IDA & IBRD countries),TMN,2017,39.047305,NaN
15285,Tonga,TON,2017,76.102000,NaN
15286,South Asia (IDA & IBRD),TSA,2017,66.102820,NaN
15287,Sub-Saharan Africa (IDA & IBRD countries),TSS,2017,61.223019,NaN
15288,Trinidad and Tobago,TTO,2017,91.730000,NaN
15289,Tunisia,TUN,2017,32.741000,NaN
15290,Turkey,TUR,2017,25.637000,NaN
15291,Tuvalu,TUV,2017,38.511000,NaN
15292,Tanzania,TZA,2017,66.977000,NaN
15293,Uganda,UGA,2017,83.206000,NaN
15294,Ukraine,UKR,2017,29.860000,NaN
15295,Upper middle income,UMC,2017,34.639825,NaN
15296,Uruguay,URY,2017,4.399000,NaN
15297,United States,USA,2017,18.040000,NaN
15298,Uzbekistan,UZB,2017,63.380000,NaN
15299,St. Vincent and the Grenadines,VCT,2017,48.753000,NaN
15300,"Venezuela, RB",VEN,2017,10.902000,NaN
15301,British Virgin Islands,VGB,2017,53.180000,NaN
15302,Virgin Islands (U.S.),VIR,2017,4.424000,NaN
15303,Vietnam,VNM,2017,65.121000,NaN
15304,Vanuatu,VUT,2017,73.246000,NaN
15305,World,WLD,2017,45.261450,NaN
15306,Samoa,WSM,2017,81.170000,NaN
15307,Kosovo,XKX,2017,NaN,NaN
15308,"Yemen, Rep.",YEM,2017,64.231000,NaN
15309,South Africa,ZAF,2017,34.218000,NaN
15310,Zambia,ZMB,2017,58.160000,NaN
15311,Zimbabwe,ZWE,2017,67.793000,NaN